
{% extends "public/base.html" %}

{% block content %}

{% load staticfiles %}
<style>
.job-ad-item{
	transition:300ms all;
	cursor:pointer;
}
.job-ad-item:hover {
	border-top:3px solid #2980b9;
}
.social-style-icon i {
	font-size:120% !important;
}
.facebook i{
	font-size:15pt;
	color:#444;
	transition: 300ms all;
}
.facebook i:hover{
	color:#2980B9;
}
.twitter i{
	font-size:15pt;
	color:#444;
	transition: 300ms all;
}
.twitter i:hover{
	color:#3498db;
}
.whatsapp i{
	font-size:15pt;
	color:#444;
	transition: 300ms all;
}
.whatsapp i:hover{
	color:#2ecc71;
}
</style>
<div class="banner-job">
		<div class="banner-overlay"></div>
		<div class="container text-center">
			<div class="form col-md-6 col-md-offset-3" style='background:#fff;border-radius: 5px;'>
				<h2 style="color:#2980b9;padding:15px 0;">Tanga Ikibazo</h2>
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Umutwe">
				  </div>
				  <div class="form-group">
					<textarea type="email" rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Incamake"></textarea>
				  </div>
				  <div class="form-check text-left">
					<input type="checkbox" class="form-check-input privacy" id="bwite">
					<label class="form-check-label" for="bwite" style='color:#aaa;'>Kiri Bwite</label> &nbsp; &nbsp; &nbsp;
					 <input type="checkbox" class="form-check-input privacy" id="rusange">
					<label class="form-check-label" for="rusange" style='color:#aaa;'>Rusange</label>
				  </div>
				  <button type="submit" class="btn btn-primary btn-special" style='padding-top:20px;'> Ohereza!</button>
				  <br><br>
			</div><!-- banner-form -->
		<!-- <div class="col-md-12">
			<ul class="banner-socail list-inline ">
				<li><a href="index.html#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="index.html#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="index.html#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="index.html#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
			</ul><!-- banner-socail 
		</div> -->
		</div><!-- container -->
	</div><!-- banner-section -->

	<div class="page">
		<div class="container">
			<br><br>
			<div class="section latest-jobs-ads">
				<div class="section-title tab-manu">
					<h4>Reba Ibyabajijwe</h4>
					 <!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation"><a href="index.html#hot-jobs" data-toggle="tab"><i class="fas fa-puzzle-piece"></i> Ibibazo Rusange</a></li>
						<li role="presentation"  class="active"><a href="index.html#recent-jobs" data-toggle="tab"> <i class="fas fa-fire"></i> Ibyibazwa Cyane</a></li>
						<li role="presentation"><a href="index.html#popular-jobs" data-toggle="tab"><i class="fas fa-user"></i> Ibyanjye</a></li>
					</ul>
				</div>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
							<div class="job-ad-item">
									<div class="item-info">
										<div class="ad-dinfo">
											<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
											<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
											<div class="ad-meta">
												<ul>
													<li><a href="index.html#"><i class="fas fa-users" aria-hidden="true"></i>1.1k</a></li>
													<li><a href="index.html#"><i class="fas fa-comments" aria-hidden="true"></i>121</a></li>
													<li><a href="index.html#"><i class="fas fa-eye" aria-hidden="true"></i>2.1k</a></li>
													<li><a href="index.html#" style='position:relative;'><i class="fas fa-thumbs-up" aria-hidden="true"></i>69</a></li>
												</ul>
											</div><!-- ad-meta -->
										</div><!-- ad-info -->
										<div class="button">
											<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
										</div>
									</div><!-- item-info -->
								</div><!-- ad-item -->

						<div class="job-ad-item">
							<div class="item-info">
								<div class="ad-dinfo">
									<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
									<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
									<div class="ad-meta">
										<ul>
											<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
											<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
											<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
											<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
										</ul>
									</div><!-- ad-meta -->
								</div><!-- ad-info -->
								<div class="button">
									<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
								</div>
							</div><!-- item-info -->
						</div><!-- ad-item -->

						<div class="job-ad-item">
								<div class="item-info">
									<div class="ad-dinfo">
										<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
										<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
										<div class="ad-meta">
											<ul>
												<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
												<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
												<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
												<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
											</ul>
										</div><!-- ad-meta -->
									</div><!-- ad-info -->
									<div class="button">
										
										<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
									</div>
								</div><!-- item-info -->
							</div><!-- ad-item -->
							<div class="job-ad-item">
									<div class="item-info">
										<div class="ad-dinfo">
											<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
											<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
											<div class="ad-meta">
												<ul>
													<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
													<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
													<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
													<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
												</ul>
											</div><!-- ad-meta -->
										</div><!-- ad-info -->
										<div class="button">
											
											<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
										</div>
									</div><!-- item-info -->
								</div><!-- ad-item -->
					</div><!-- tab-pane -->

					<div role="tabpanel" class="tab-pane fade in active" id="recent-jobs">

							<div class="job-ad-item">
									<div class="item-info">
										<div class="ad-dinfo">
											<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
											<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye pe...</p></span>
											<div class="ad-meta">
												<ul>
													<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
													<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
													<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
													<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
												</ul>
											</div><!-- ad-meta -->
										</div><!-- ad-info -->
										<div class="button">
											<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
										</div>
									</div><!-- item-info -->
								</div><!-- ad-item -->
								<div class="job-ad-item">
										<div class="item-info">
											<div class="ad-dinfo">
												<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
												<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
												<div class="ad-meta">
													<ul>
														<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
														<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
														<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
														<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
													</ul>
												</div><!-- ad-meta -->
											</div><!-- ad-info -->
											<div class="button">
												
												<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
											</div>
										</div><!-- item-info -->
									</div><!-- ad-item -->



									<div class="job-ad-item">
											<div class="item-info">
												<div class="ad-dinfo">
													<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
													<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
													<div class="ad-meta">
														<ul> 
															<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
															<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
															<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
															<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
														</ul>
													</div><!-- ad-meta -->
												</div><!-- ad-info -->
												<div class="button">
													<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
												</div>
											</div><!-- item-info -->
										</div><!-- ad-item -->
					</div><!-- tab-pane -->
					<div role="tabpanel" class="tab-pane fade in" id="popular-jobs">
							<div class="job-ad-item">
									<div class="item-info">
										<div class="ad-dinfo">
											<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
											<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
											<div class="ad-meta">
												<ul>
													<li><a href="index.html#"><i class="fas fa-users" aria-hidden="true"></i>1.1k</a></li>
													<li><a href="index.html#"><i class="fas fa-comments" aria-hidden="true"></i>121</a></li>
													<li><a href="index.html#"><i class="fas fa-eye" aria-hidden="true"></i>2.1k</a></li>
													<li><a href="index.html#" style='position:relative;'><i class="fas fa-thumbs-up" aria-hidden="true"></i>69</a></li>
												</ul>
											</div><!-- ad-meta -->
										</div><!-- ad-info -->
										<div class="button">
											<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
										</div>
									</div><!-- item-info -->
								</div><!-- ad-item -->

						<div class="job-ad-item">
							<div class="item-info">
								<div class="ad-dinfo">
									<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
									<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
									<div class="ad-meta">
										<ul>
											<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
											<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
											<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
											<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
										</ul>
									</div><!-- ad-meta -->
								</div><!-- ad-info -->
								<div class="button">
									<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
								</div>
							</div><!-- item-info -->
						</div><!-- ad-item -->

						<div class="job-ad-item">
								<div class="item-info">
									<div class="ad-dinfo">
										<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
										<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
										<div class="ad-meta">
											<ul>
												<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
												<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
												<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
												<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
											</ul>
										</div><!-- ad-meta -->
									</div><!-- ad-info -->
									<div class="button">
										
										<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
									</div>
								</div><!-- item-info -->
							</div><!-- ad-item -->
							<div class="job-ad-item">
									<div class="item-info">
										<div class="ad-dinfo">
											<span><a href="/problem" class="title"><big>Nabuze akazi</big></a> &bull; Share on <a href="/fb-share" class="social-icon-style facebook"><i  class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="/twitter-share" class="social-icon-style twitter"><i  class="fa fa-twitter-square" aria-hidden="true"> </i> </a> <a href="/whatsapp-share" class="social-icon-style whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
											<span><p>Nabuze akazi nyuma yo kurangiza amashuri y'isumbuye akaba ari bwo natangiye kwiga imyuga ariko simbashe kugira icyo nageraho. Muri iyi minsi ntago biba byoroshye...</p></span>
											<div class="ad-meta">
												<ul>
													<li><a href="index.html#"><i class="fa fa-users" aria-hidden="true"></i>1.1k</a></li>
													<li><a href="index.html#"><i class="fa fa-comments" aria-hidden="true"></i>121</a></li>
													<li><a href="index.html#"><i class="fa fa-eye" aria-hidden="true"></i>2.1k</a></li>
													<li><a href="index.html#" ><i class="fa fa-thumbs-up" aria-hidden="true"></i>69</a></li>
												</ul>
											</div><!-- ad-meta -->
										</div><!-- ad-info -->
										<div class="button">
											
											<a href="/problem" class="btn btn-primary btn-special-small"><i class="fas fa-share"></i> Reba Ikibazo!</a>
										</div>
									</div><!-- item-info -->
								</div><!-- ad-item -->
					</div><!-- tab-pane -->
				</div><!-- tab-content -->
			</div><!-- trending ads -->

		</div><!-- conainer -->
	</div><!-- page -->

	

{% endblock %}